body, header h1, div, p {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Georgia', Arial, sans-serif;
    font-size: 16px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-column: 1 / -1;
    padding: 1.5rem;
    background-color: #283747;
    color: #ecf0f1;
    display: flex;
    align-items: center;
}

    header h1 {
        padding-right: 2.5rem;
        color: #f1c40f;
    }

    header nav a, header nav span {
        margin-left: 1.2em;
        font-weight: 700;
        font-size: 1.2rem;
    }

    header nav a {
        text-decoration: none;
        color: #ecf0f1;
    }

        header nav a:hover {
            color: #f39c12;
        }

    header nav span {
        color: #bdc3c7;
    }

main {
    grid-column: 1 / -1;
    padding: 1.5rem;
    background-color: #ecf0f1;
    color: #34495e;
    overflow-x: auto;
    text-align: center;
}

footer {
    grid-column: 1 / -1;
    font-size: 0.9rem;
    padding: 0.5rem;
    background-color: #283747;
    color: #ecf0f1;
    text-align: center;
}
